:root {
  --background: linear-gradient(#60A0DB 10%, rgb(204, 225, 255) 90%);
  --button: #AAB3C5;
  --font:'Lora', serif;
}

.hide {
    display: none;
}

body {

    text-align: center;
}

#map {
    height: 100%;
    width: 50%;
    float: right;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  
  table {
    font-size: 12px;
  }
  
  .hotel-search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: var(--background);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 100;
    width: 100%;
    z-index: 1;
    height: 100px;
    margin: 20px;

  }
  
  #map {
    margin-top: 5px;
    width: 100%;
    height: 800px;
    float: left;
    margin: 20px;
  }
  
  #listing {
    width: 250px;
    height: 800px;
    cursor: pointer;
    overflow-x: hidden;
    float: right;
    margin-right: 20px;

  }
  
  #findhotels {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  #locationField {
    -webkit-box-flex: 1 1 190px;
    -ms-flex: 1 1 190px;
    flex: 1 1 190px;
    margin: 0 8px;
  }
  
  #controls {
    -webkit-box-flex: 1 1 140px;
    -ms-flex: 1 1 140px;
    flex: 1 1 140px;
    height: 30px;
  }
  
  #autocomplete {
    width: 100%;
    height: 30px;
  }
  
  #country {
    width: 100%;
  }
  
  .placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
  }
  
  .hotelIcon {
    width: 24px;
    height: 24px;
  }
  
  #resultsTable {
    border-collapse: collapse;
    width: 240px;
  }
  
  #rating {
    font-size: 13px;
    font-family: 'Lora', serif;
  }
  
  .iw_table_row {
    height: 18px;
  }
  
  .iw_attribute_name {
    font-weight: bold;
    text-align: right;
  }
  
  .iw_table_icon {
    text-align: right;
  }
  
  .list-group {
    z-index: 1;
    background-image: var(--background);
    padding: 10px;
    font-size: 20px;
  }

  header{
    font-size: 30px;
    background-image: var(--background);
    padding: 20px;
    text-align: left;
  }

.card {
    margin: 20px;
    width: 100%;
}

button {
  background-color: var(--button);
  color:white;
  width:300px;
  height:46px;
  font-size:20px;
  border:20px;
  float: right;
}

button:hover {
  background-color:rgb(177, 191, 220);
  transition:0.4s;
  box-shadow:0 0 15px;
  cursor:pointer;
}

img {
width:40%;
height: 200px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}

h1 {
  border: 3px solid var(--button);
  margin: 20px;
  font-weight: bold;
}

.list-group-item{
margin: 10px;
}

#logo {
  width: 10px;
  height: 10px;
}