/* Irene's Code */ 
.hide {
    display: none;
}

body {
    height: 800px;
    width: 100%;
    background-image: linear-gradient(#25729f4d 10%, rgba(26, 157, 209, 0.6) 90%);
    background:url('./images/plane.jpeg') no-repeat center center/cover;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
    justify-content:space-between;
  
}

.title {
    margin-top:50px;
    text-align: center; 
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

 #welcome p {
    font-size:40px;
    padding:10px;
    color:black;
    background-image: linear-gradient(#25729f4d 10%, rgba(26, 157, 209, 0.6) 90%);
}


.click {
    align-items: center;
    margin-top:130px;
    margin-bottom: 150px;
    width: 500px;
    height: 80px;
    font-size:26px;
    border-radius: 2em;
    cursor:pointer;
}

.click:hover,
.click:focus {
    background-image: linear-gradient(#25729f4d 10%, rgba(26, 157, 209, 0.6) 90%);
    color:rgb(37, 22, 133);
    transition:0.4s;
    box-shadow:0 0 25px;
}

/*-----My code----*/

.modal{
    background:rgb(204, 239, 251);
}

.modal-card-head p {
    text-align:center;
    font-size:25px;
    color:rgb(37, 22, 133);
    font-weight: bold;
    text-transform:uppercase;
}

.modal-card-body p {
    text-align:center;
    font-size:25px;
    color:rgb(37, 22, 133);
    font-weight:350;
}

#airline, #f_number {
    text-align:center;
    border-radius:2em;
    border-color: #92BCEA;
    width:280px;
    padding:10px;
}

.modal-card-foot button {
    padding: 10px;
    margin: 15px;
    flex: 1 0 00px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius:2em;
    border-color: #92BCEA;
}

.button-is-succes .button {
    background-color:white;
    color:rgb(37, 22, 133);
}

.button-is-success:hover {
    color:rgb(37, 22, 133);
    background-color:rgb(177, 191, 220);
    transition:0.4s;
    box-shadow:0 0 15px;
    cursor:pointer;
}

.button:hover {
    color:rgb(37, 22, 133);
    background-color:rgb(177, 191, 220);
    transition:0.4s;
    box-shadow:0 0 15px;
    cursor:pointer;
}


#another {
    align-items: center;
    height:50px;
    margin-top:50px;
    font-size: 20px;
    background-image: linear-gradient(#25729f4d 10%, rgba(26, 157, 209, 0.6) 90%);
}

#another:hover {
    cursor:pointer;
    box-shadow:0 0 25px white;
}

